[user]
  email = marklcrns@gmail.com
  name = Mark Lucernas
[github]
  user = marklcrns
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[push]
  default = current
[credential]
  helper = cache --timeout=28800
[core]
  excludesfile = ~/.gitignore_global
# Resources:
#   https://www.grzegorowski.com/using-vim-or-neovim-nvim-as-a-git-mergetool
#   https://coderwall.com/p/qbtnsw/use-fugitive-as-git-mergetool
#   https://github.com/tpope/vim-fugitive
# [merge]
#   tool = fugitive
# [mergetool "fugitive"]
#   cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"  # 3 way horizontal split
#   cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"  # 3 way vertical split

# Resources:
#   https://www.rosipov.com/blog/use-vimdiff-as-git-mergetool/
#   https://gist.github.com/karenyyng/f19ff75c60f18b4b8149
#   https://stackoverflow.com/questions/14904644/how-do-i-use-vimdiff-to-resolve-a-git-merge-conflict
[merge]
  tool = nvimdiff
[mergetool "nvimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J' -c 'call PrintMergeDiffMappings()'
[mergetool]
  prompt = true
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[color]
  ui = auto

# Performance boost for large repositories
[feature]
  manyFiles = true

[include]
  path = ~/.gitconfig.d/gitalias.txt
# Ref:
# .gitconfig: https://github.com/connermcd/dotfiles/blob/master/.gitconfig
# Show merge conflicts: https://stackoverflow.com/a/10874862
[alias]
  st = status -sb
  ci = commit
  co = checkout
  cb = checkout -b
  d = diff
  dc = diff --cached
  ds = diff --stat=160,120
  dh1 = diff HEAD~1
  # list all merge conflict files
  dmc = diff --name-only --diff-filter=U
  # List all merge conflict leftover markers
  dmm = diff --check
  aa = add --all
  ff = merge --ff-only
  pullff = pull --ff-only
  noff = merge --no-ff
  p = push
  pom = push origin master
  b = branch
  bva = branch -va
  l = log --simplify-merges --graph --pretty="tformat:%C(yellow)%h%Creset\\ %Cgreen(%ar)%Creset\\ %C(blue)<%an>%Creset\\ %C(red)%d%Creset\\ %s"
  lf = log origin/master ^master
